* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-screen {
  background: url("./images/bg-image.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-login {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 55px;
}

.login-form-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #333;
  text-align: center;
  display: block;
  padding-bottom: 50px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  margin-bottom: 24px;
}

.input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  display: block;
  width: 100%;
  height: 55px;
  padding: 0px 7px 0px 43px;
  border: none;
  outline: none;
}

.lable-input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-left: 7px;
}

.input-username::after {
  content: "\f007";
}

.input-password::after {
  content: "\f13e";
}

.input-icon {
  font-family: FontAwesome;
  color: #adadad;
  font-size: 22px;
  display: flex;
  height: calc(100% - 20px);
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 13px;
  padding-top: 3px;
}

.text-right {
  text-align: right;
}

a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #666;
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
}

.container-login-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-login-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 5px 30px 0 rgb(3 216 222 / 20%);
  -moz-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0 rgb(3 216 222 / 20%);
  -o-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0 rgba(3, 216, 222, 0.2);
}

.login-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(
    right,
    #00dbde,
    #fc00ff,
    #00dbde,
    #fc00ff
  );
  background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login-form-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}

.pt-8 {
  padding-top: 8px;
}

.pb-30 {
  padding-bottom: 30px;
}

.txt1 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

.text-center {
  text-align: center;
}

.pb-20 {
  padding-bottom: 20px;
}
.pt-54 {
  padding-top: 54px;
}

.flex-c-m {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-social-item {
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.bg1 {
  background-color: #3b5998;
}

.bg2 {
  background-color: #1da1f2;
}

.bg3 {
  background-color: #ea4335;
}

.flex-col-c {
  display: flex;
  align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
}

.pt-155 {
  padding-top: 155px;
}

.txt2 {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  text-transform: uppercase;
}
